<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
{{ with .Site.Params.social.twitter }}
  <meta name="twitter:creator" content="{{ . }}" />
{{ end }}
<meta property="twitter:domain" content="{{ .Site.BaseURL | replaceRE "https?://|/$" "" }}" />
<meta property="twitter:url" content="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ if .Site.Params.social.title }}{{ .Site.Params.social.title }}{{ else }}{{ .Site.Title }}{{ end }}{{ else }}{{ .Title }} • {{ .Site.Params.podcast.name }}{{ end }}" />
{{ if .IsHome }}
  <meta name="twitter:description" content="{{ if .Site.Params.social.description }}{{ .Site.Params.social.description }}{{ else }}{{ .Site.Params.podcast.description }}{{ end }}" />
{{ else }}
  {{ if .Params.description }}
    <meta name="twitter:description" content="{{ .Params.description }}" />
  {{ else if .Content }}
    <meta name="twitter:description" content="{{ .Content | truncate 160 }}" />
  {{ else if .Params.subtitle }}
    <meta name="twitter:description" content="{{ .Params.subtitle }}" />
  {{ else if .Site.Params.social.description }}
    <meta name="twitter:description" content="{{ .Site.Params.social.description }}" />
  {{ else }}
    <meta name="twitter:description" content="{{ .Summary }}" />
  {{ end }}
{{ end }}
{{ $image := "" }}
{{ with .Resources.GetMatch "cover.*" }}{{ $image = .RelPermalink }}{{ end }}
{{ if not $image }}{{ $image = .Site.Params.podcast.cover }}{{ end }}
{{ if $image }}
  {{ $fullURL := $image }}
  {{ if not (hasPrefix $image "http") }}{{ $fullURL = printf "%s%s" $.Site.BaseURL (strings.TrimPrefix "/" $image) }}{{ end }}
  <meta name="twitter:image" content="{{ $fullURL }}" />
{{ else if .Site.Params.social.image }}
  <meta name="twitter:image" content="{{ printf "%s%s" $.Site.BaseURL .Site.Params.social.image }}" />
{{ end }}
